// .c-main {
//   padding-top: 20px;
// }

// .back-photo {
//   background-image: url("../../public/bg.jpg") !important;
//   width: 100%;
//   top: 0;
//   background-color: #f1f4fd;
//   background-size: cover;
//   background-repeat: repeat;

// }

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #293444;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #293444;
}

/* Mobile */
@media only screen and (max-width: 602px) {
  .landing-card {
    display: block !important;
  }

  .landing-card-lg {
    display: none !important;
  }
}

/* Desktop */
@media only screen and (min-width: 602px) {
  .landing-card-lg {
    display: block !important;
  }

  .landing-card {
    display: none !important;
  }
}

.nav-link {
  color: #a0bcc2;
  border-radius: 10px;
}

.nav-item {
  padding: 4px;
}

.nav-link:active {
  border-radius: 10px;
  color: white !important;
}

.nav-icon {
  color: #014d4d !important;
}

.question-card {
  width: 100%;
  padding: 12px !important;
  margin: 10px 0;
  background-color: #242d3cf2 !important;
}

.submit-button {
  padding: 20px;
  margin: 10px;
  float: right !important;
  background-color: #198754 !important;
}

.header-title {
  margin: 0 !important;
  font-size: 11px;
}

/* Mobile */
@media only screen and (max-width: 602px) {
  .header-info-col {
    text-align: center;
  }
}

/* Desktop */
@media only screen and (min-width: 602px) {
  .header-info-col {
    text-align: end;
  }
}

.home-card {
  background-image: url("../../public/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 6px;
  box-shadow: inset 0 0 5px grey;
  margin-bottom: 24px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
}

.loader-card {
  background-image: url("../../public/loading.gif");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 100px;
  text-align: center;
  padding: 34px;
  border-radius: 70px;
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.questions-card {
  width: 100% !important;
}

.question-checkbox .form-check-label {
  width: 90%;
  cursor: pointer;
  background: #aaffe3;
  color: black;
  border-radius: 5px;
  padding: 6px;
  text-align: left;
  margin: 0;
  font-weight: 700;

}

.questions-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}